**/node_modules
**/.next
**/.next-build
**/dist
**/build
**/coverage
**/postgres-data
**/backups
.git
.github
.DS_Store
*.log
.env
.env.local
.env.*.local
.env.prod
**/.env
**/.env.local
**/.env.*.local
**/.env.prod
/Dockerfile
/docker-compose.yml
/docker-compose.prod.yml
/Caddyfile
